<script>
  const title = document.getElementById("title");
  const price = document.getElementById("price");
  const description = document.getElementById("description");
  const thumbnail = document.getElementById("thumbnail");
  const stock = document.getElementById("stock");
  const tBody = document.getElementById("tableBooks");

  const addBook = (e) => {
    const book = {
      title: title.value,
      price: price.value,
      thumbnail: thumbnail.value,
      description: description.value,
      stock: stock.value,
    };
    socket.emit("newBook", book);
    return false;
  };
  const renderBookTable = (data) => {
    tBody.innerHTML = "";
    const tr = data
      .map((book) => {
        return `
  <tr>
    <td>${book.title}</td>
    <td>
      <img
        src="${book.thumbnail}"
        alt="${book.title} img"
        style="max-height: 150px"
      />
    </td>
    <td>$${book.price}</td>s
    <td>${book.description}</td>
    <td>${book.stock}</td>
  </tr>
  `;
      })
      .join("");
    tBody.innerHTML = tr;
  };

  socket.on("requestBooks", (data) => {
    renderBookTable(data);
  });
</script>
