<% if (productosArray.length === 0) { %>
<tr>
    <td>No hay datos</p>
</tr>
<% }else{ for (let i = 0; i < productosArray.length; i++) { %>
<tr>
  <td><%=productosArray[i].title%></td>
  <td><img src="<%=productosArray[i].thumbnail%>" alt="<%=productosArray[i].title%> img" style="max-height: 150px"/></td>
  <td><%=productosArray[i].price%></td>
</tr>
<% } } %>


