<script>
  const socket = io();

  const inputEmail = document.getElementById("inputEmail");
  const inputMessage = document.getElementById("inputMessage");
  const btnSend = document.getElementById("btnSend");
  const chatBox = document.getElementById("chatBox");

  socket.on("requestChat", (data) => {
    console.log(data);
  });

  const addMessage = (e) => {
    const msg = {
      userEmail: inputEmail.value,
      time: new Date(),
      message: inputMessage.value,
    };
    socket.emit("newMessage", msg);
    return false;
  };
  //   socket.on("requestChat", (messages) => {
  //     render(messages);
  //   });

  const render = (data) => {
    chatBox.innerHTML = "";
    const html = data
      .map((message) => {
        return `
                <div>
                  <strong>${message.userEmail} ha dejado un mesaje</strong>:
                  <em>${message.message} a las ${message.time}</em>
                </div>
                `;
      })
      .join(" ");
    chatBox.innerHTML = html;
  };
</script>
