<script>
  const socket = io();

  const inputEmail = document.getElementById("inputEmail");
  const inputMessage = document.getElementById("inputMessage");
  const btnSend = document.getElementById("btnSend");
  const chatBox = document.getElementById("chatBox");

  const addMessage = (e) => {
    const msg = {
      userEmail: inputEmail.value,
      time: new Date(),
      message: inputMessage.value,
    };
    socket.emit("newMessage", msg);
    return false;
  };

  const render = (data) => {
    chatBox.innerHTML = "";
    const html = data
      .map((message) => {
        return `
                <div>
                  <strong>${message.email} ha dejado un mesaje</strong>:
                  <em>${message.message} a las ${message.sent}</em>
                </div>
                `;
      })
      .join(" ");
    chatBox.innerHTML = html;
  };

  socket.on("requestChat", (data) => {
    render(data);
  });
  socket.on("requestChat", (messages) => {
    render(messages);
  });
</script>
