{{#if productosArray}}
  {{#each productosArray}}
    <p>{{title}}</p>
    <img src="{{thumbnail}}" alt="" style="max-height: 150px" />
    <p>{{price}}</p>
  {{/each}}
{{else}}
  <p>No hay libros</p>
{{/if}}