<html lang="en">
  <head>
    <%- include("../partials/head")%>
  </head>
  <body>
    
    <h1>Nuevo producto</h1>
    <form action="/api/productos" method="post">
      <label>Title:</label>
      <input type="text" name="title" id="title"/> </br>
      <label>Price:</label>
      <input type="number" name="price" id="price"/> </br>
      <label>Thumbnail:</label>
      <input type="text" name="thumbnail" id="thumbnail"/> </br>
      <label>descripcion:</label>
      <input type="text" name="description" id="description"/> </br>
      <label>stock:</label>
      <input type="number" name="stock" id="stock"/> </br>
      <input type="submit" value="enviar" />
    </form>

    <table>
        <thead>
            <tr>
                <th >Title</th>
                <th >Image</th>
                <th >price</th>
                <th >Description</th>
                <th >stock</th>
            </tr>
            <tbody id="tableBooks">
              <%- include("../partials/books"); %>
            </tbody>

    </table>
    <button><a href="/static">Ir a agregar produto</a></button>



    <h2>Chat</h2>
<div>
  <form onsubmit="addMessage(this)">
    <label for="e-mail">
      <input
        type="email"
        id="inputEmail"
        placeholder="example@example.com"
        required
      />
    </label>
    <label for="Mensaje">
      <input
        type="text"
        id="inputMessage"
        placeholder="chat here..."
        required
      />
    </label>
    <button type="submit" id="btnSend">Send messages</button>
  </form>

  <div id="chatBox"></div>
</div>

<%- include("../partials/chat")%>
<%- include("../partials/addBooks")%>
  </body>
</html>
