<html lang="en">
  <head>
    <%- include("../partials/head")%>
  </head>
  <body>
    <%- include("../partials/books")%>
    <button><a href="/static">Ir a agregar produto</a></button>
  </body>
</html>
