<html lang="en">
  <head>
    <%- include("../partials/head")%>
  </head>
  <body>
    
<% if (user != "invitado" && user == "deslogueado") { %>
    <h2>Se deslogueó</h2>
<% } %>
    
    <h1>Loguearse</h1>
    <form action="/api/login" method="post">
      <label>Usuario:</label>
      <input type="text" name="user" id="user"/> </br>
      <label>contraseña:</label>
      <input type="text" name="password" id="password"/> </br>
      <input type="submit" value="enviar" />
    </form>

  </body>
</html>